FastAPI
SQLAlchemy
streamlit
aiosqlite
langchain>=0.1.0
langchain-openai>=0.1.0
langchain_community
python-dotenv
uvicorn
pydantic
httpx
pytest
pytest-asyncio
tiktoken
openai>=1.0.0
azure-identity
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
python-multipart

# 금융데이터 공공 API 테스트를 위한 라이브러리
requests
urllib3
pandas 
matplotlib 
seaborn 
plotly
xmltodict
OpenDartReader
